/*css/style3.css*/
body {
    font: 14px "맑은고딕";
}
.container {
    border: 1px solid green;
    width: 960px;
    margin: 0 auto;
}
header {
    position: relative;
    height: 280px;
    font-size: 3em;
     background-image: url(../images/bg.png);
     background-repeat: no-repeat;
     background-position: left top;
}
header > h1 {
    position: absolute;
    right: 20px;
    bottom: 70px; 
    font-size: 1.5em;
    color: orange;
}
header > h2 {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-size: 1.2em;
    color: white;
}